body {
  background-color: #fff8ed;
}

.img-fluid {
  padding: 0.25rem;
  max-width: 8rem;
  height: 8rem;
}

.navbar-nav {
  align-items: flex-end;
  padding-right: 5vw;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: "Scheherazade New", serif;
}

#overskrift_5 h5 {
  font-size: 3.5rem;
  margin-top: 15vw;
  font-family: "Scheherazade New", serif;
}

#overskrift_2 h5 {
  font-size: 2.6vw;
  margin-top: 5vw;
  padding-left: 5vw;
  font-family: "Scheherazade New", serif;
}

#section_1 img {
  width: 60%;
  margin-top: 2vw;
}

#section_1 p {
  padding-left: 10vw;
  margin-top: 2vw;
  align-items: center;
}

.box_4 {
  background-color: #f8935c;
  position: absolute;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 50%;
  z-index: -20;
}
