body {
  background-color: #fff8ed;
}

.img-fluid {
  padding: 0.25rem;
  max-width: 8rem;
  height: 8rem;
}

.navbar-nav {
  align-items: flex-end;
  padding-right: 5vw;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-family: "Scheherazade New", serif;
}

#overskrift h5 {
  font-size: 3rem;
  margin-top: 10vw;
  font-family: "Scheherazade New", serif;
}

#overskrift_2 h5 {
  font-size: 2.6vw;
  margin-top: 10vw;
  padding-left: 9.2vw;
  font-family: "Scheherazade New", serif;
}

#section_1 img {
  width: 60%;
  margin-top: 2vw;
}

#section_1 p {
  padding-left: 10vw;
  margin-top: 2vw;
  align-items: center;
}

#overskrift_3 h5 {
  font-size: 2.6vw;
  margin-top: 30vw;
  padding-left: 9.2vw;
  font-family: "Scheherazade New", serif;
}

#section_2 img {
  width: 60%;
  margin-top: 2vw;
}

#section_2 p {
  padding-left: 10vw;
  margin-top: 2vw;
  align-items: center;
}

#overskrift_4 h5 {
  font-size: 2.6vw;
  margin-top: 30vw;
  padding-left: 9.2vw;
  font-family: "Scheherazade New", serif;
}

#section_3 img {
  max-width: 60%;
  margin-top: 2vw;
}

#section_3 p {
  padding-left: 10vw;
  margin-top: 2vw;
  align-items: center;
}

.box {
  background-color: #fbdb82;
  position: absolute;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 50%;
  z-index: -20;
}

.box_2 {
  background-color: #b8b5d2;
  position: absolute;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 170%;
  z-index: -20;
}

.box_3 {
  background-color: #a6af73;
  position: absolute;
  height: 90%;
  width: 90%;
  left: 5%;
  top: 290%;
  z-index: -20;
}

button {
  padding: 1rem;
  background: #fff8ed;
  text-align: center;
  text-decoration: none;
  font-family: "Scheherazade New", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-top: 10vw;

  /* margin: 0 1rem 0 0; */
}

button:hover {
  background-color: #f35603;
}

button:active {
  background-color: var(--bg-color);
}
